In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("All Predictions.csv")
df.head()

,Unnamed: 0,PCON24CD,constituency,LAT,LONG,region,country,2019_winner,2019_majority,turnout,...,mean_diff,mean_Con,mean_Lab,mean_LDem,mean_Grn,mean_Ref,mean_SNP,mean_PC,mean_Other,mean_Winner
0,0,E14001063,Aldershot,51.2903,-0.78648,SE,England,con,17985,67.5,...,11.392000,31.066667,34.365000,12.210000,4.708333,15.623333,0.0,0.0,2.010000,lab
1,1,E14001064,Aldridge-Brownhills,52.6071,-1.93173,WM,England,con,22758,64.7,...,18.409333,36.586667,34.855000,5.025000,3.900000,19.266667,0.0,0.0,0.050000,con
2,2,E14001065,Altrincham and Sale West,53.3977,-2.39049,NW,England,con,6139,74.1,...,18.762667,27.026667,46.721667,8.540000,4.731667,10.816667,0.0,0.0,2.146667,lab
3,3,E14001066,Amber Valley,53.0428,-1.39771,EM,England,con,16891,64.6,...,17.256000,29.420000,39.581667,4.580000,5.238333,21.180000,0.0,0.0,0.016667,lab
4,4,E14001067,Arundel and South Downs,50.9580,-0.61585,SE,England,con,24105,75.5,...,20.744000,32.533333,22.381667,17.798333,9.105000,16.451667,0.0,0.0,1.746667,con

In [3]:
res = pd.read_csv("Results.csv")
res = res[["constituency", "2024_winner"]]
res = pd.merge(res, df)

In [4]:
len(res[res["mean_Winner"] == res["2024_winner"]]) / 632

0.8876582278481012

In [9]:
for model in ['BP', 'EM', 'E', 'Y', 'S', 'MC']:
    print(f'{model}:\t{len(res[res[f"{model}_Winner"] == res["2024_winner"]]) / 632}')

BP:	0.8639240506329114
EM:	0.8892405063291139
E:	0.8639240506329114
Y:	0.8908227848101266
S:	0.8259493670886076
MC:	0.8670886075949367